<section class="section-products">
  <div class="container">
      <div class="row justify-content-center text-center">
          <div class="col-md-8 col-lg-6">
              <div class="header">
                  <h3>Featured Product</h3>
                  <h2>Popular Products</h2>
              </div>
          </div>
      </div>
      <div class="row">
          <!-- Single Product -->
          <div *ngFor="let product of products" class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-1" class="single-product">
                  <div class="part-1">
                    <span *ngIf="product.discount > 0" class="discount">{{product.discount *100}}% off</span>
                    <span *ngIf="product.discount == 0" class="discount">No discount available</span>
                      <ul>
                          <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                          <li><a href="#"><i class="fas fa-heart"></i></a></li>
                          <li><a href="#"><i class="fas fa-plus"></i></a></li>
                          <li><a href="#"><i class="fas fa-expand"></i></a></li>
                      </ul>
                  </div>
                  <div class="part-2">
                      <h3 class="product-title">{{product.name}}</h3>
                      <h4 class="product-old-price">${{product.actualprice.toFixed(2)}}</h4>
                      <h4 class="product-price">${{(product.actualprice * (1 - product.discount)).toFixed(2)}}</h4>
                      <h4 class="product-price" *ngIf="product.stock>0">Only {{product.stock}} items left</h4>
                      <h4 class="product-price" *ngIf="product.stock==0">No Stock Available</h4>
                  </div>


                </div>
              </div>
            </div>
          </div>
</section>
